@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
	--primary-hint: #bbebce;
	--primary-color: #0fc736;
	--primary-dark: #006436;
	--primary-hint-dark: #008d35;

	--secondary-hint-dark: #0f202b;
	--secondary-color: #034a75;
	--secondary-hint: #5e7998;
	--secondary-dark: #002135;
	--light-color: #d8f3ff;
	--gray000: #fafafa;
	--gray100: #f5f5f5;
	--gray200: #eeeeee;
	--gray300: #e0e0e0;
	--gray400: #bdbdbd;
	--gray500: #9e9e9e;
	--gray600: #757575;
	--gray700: #616161;
	--gray800: #424242;
	--gray900: #212121;
}

body {
	margin: 0px;
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

html {
	overflow: hidden;
	height: 100%;
}

p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}

* {
	box-sizing: border-box;
	font-family: 'Hind Siliguri', sans-serif;
	font-family: 'Roboto Flex', sans-serif;
}

mark {
	background-color: transparent;
	color: rgb(255, 0, 76);
}

textarea {
	width: 100%;
	height: 100%;
}
