@mixin simple_text {
	display: flex;
	flex-direction: column;
	padding: min(20px, 4%);
	background-color: rgba(255, 255, 255, 0.493);
	border-radius: 10px;
	border: 1px rgba(0, 0, 0, 0.274) solid;
	backdrop-filter: blur(10px);
	& div {
		padding: min(10px, 2%);
	}
	& p {
		padding: 2px;
	}
	& h1 {
		color: var(--secondary-color);
	}
	max-width: 1300px;
	width: calc(100% - min(20px, 4%) * 2);
	margin: 50px auto;
}
